body {
    margin: 0;
    padding: 0;
}

.texto {
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: underline;   
}


.link {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 50vh; /* Altura total da viewport */
    width: 40vh;      
    margin: 0 auto;
    background-color: #9AC8CD;
    border: 2px solid black;
    border-radius: 10px; 
}


.link ul {
    list-style: none;  
    padding: 0;
    margin: 0;     
}

.link li { 
    margin-bottom: 10px;        
}

.link a {
    text-decoration: none;    
}

.voltarhome { 
    background-color: white;   
    border: none;
    display: flex;
    margin-left: 87.5rem;
    margin-top: -26.2rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.voltarhome:hover {
    transform: scale(1.1);
}


